@charset "utf-8";

body {
  margin: 0;
  padding: 0;
}

.header {
  box-sizing: border-box;
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 47px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.header-nav {
  display: flex;
  align-items: center;
  width: auto;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav .logo {
  display: block;
  width: 400px;
  height: auto;
}

.header-nav .logo img {
  width: 80px;
  height: auto;
}

.header-nav .logo p {
  width: 320px;
  height: auto;
  font-size: 25px;

}

.header-nav .logo a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #646464;
  cursor: pointer;
}

.header-nav ul.main-menu {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav ul.main-menu>li {
  list-style: none;
  padding: 10px 18px;
  position: relative;
}

.header-nav ul.main-menu>li .menu-link {
  color: #646464;
  cursor: default;
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.header-nav ul.main-menu>li:hover::after {
  background-color: #cceeff;
  border-radius: 30px;
  bottom: -9px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  width: auto;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cceeff;
  padding: 8px 0;
  min-width: 160px;
}

.sub-menu:before {
  filter: blur(6px);
}

.sub-menu>li {
  list-style: none;
}

.main-menu>li:hover .sub-menu {
  display: block;
  width: 200%;
}

.main-menu>li:hover .sub-menu a {
  cursor: pointer;
}

.main-menu>li:hover .sub-menu p {
  color: #646464;
}

.main-menu>li:hover .sub-menu li:hover {
  opacity: 0.5;
}





.contents {
  background-color: #fff;
}

.contents .top-top {
  width: 100vw;
  height: 600px;
}

.contents .top-top-image {
  width: 100vw;
  height: 180vw;
  top: -80px;
  object-fit: fill;
  position: absolute;
  filter: blur(3px);
}

.contents .top-top-image-text1 {
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 100px;
  color: #fff;
  font-family: "BIZ UD明朝 Medium";
}

.contents .top-top-image-text2 {
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 100px;
  color: #fff;
  font-family: "BIZ UD明朝 Medium";
}

.contents .top-company {
  padding: 30px;
  width: 600px;
  height: 400px;
  margin: 50px auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.contents .top-company-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  opacity: 0.3;
}

.contents .top-company-text1 {
  position: absolute;
  margin: 25px;
  top: 25px;
  left: 3%;
  font-size: 35px;
  background-color: rgba(0, 255, 255, 0.29);
  border-radius: 5px;
}

.contents .top-company-text2 {
  position: absolute;
  margin: 80px 150px 25px 25px;
  top: 85px;
  left: 5%;
  font-size: 30px;
  font-family: "BIZ UD明朝 Medium";
}

.contents .top-company-text3 {
  position: absolute;
  margin: 25px 200px 25px 25px;
  top: 80%;
  left: 5%;
  font-size: 30px;
  color: #000;
  text-decoration: none;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .top-product {
  padding: 30px;
  width: 800px;
  height: 800px;
  margin: 50px auto;
  padding: auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.contents .top-product-text1 {
  position: absolute;
  margin: 25px;
  top: 25px;
  left: 3%;
  font-size: 35px;
  background-color: rgba(0, 255, 255, 0.29);
  border-radius: 5px;
}

.contents .top-product-text2 {
  position: absolute;
  margin: 80px 70px 25px 25px;
  top: 50px;
  left: 5%;
  font-size: 23px;
  font-family: "BIZ UD明朝 Medium";
}

.contents .top-product-image {
  width: 110%;
  height: 110%;
  object-fit: fill;
  position: relative;
  opacity: 0.8;
}

.contents .top-product-text {
  position: relative;
  margin: auto;
  font-size: 20px;
  color: #000;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .top-product-enterprise {
  width: 350px;
  height: 250px;
  margin: 25px;
  position: absolute;
  top: 20%;
  left: 0;
}

.contents .top-product-web {
  width: 350px;
  height: 250px;
  margin: 25px;
  position: absolute;
  top: 20%;
  left: 50%;
}

.contents .top-product-iot {
  width: 350px;
  height: 250px;
  margin: 25px;
  position: absolute;
  top: 60%;
  left: 0;
}

.contents .top-product-enbedded {
  width: 350px;
  height: 250px;
  margin: 25px;
  position: absolute;
  top: 60%;
  left: 50%;
}

.contents .top-recruit {
  padding: 30px;
  width: 800px;
  height: 200px;
  margin: 50px auto;
  padding: auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.contents .top-recruit-text3 {
  position: absolute;
  margin: 25px;
  top: 70%;
  left: 5%;
  font-size: 30px;
  color: #000;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .top-recruit-text4 {
  position: absolute;
  margin: 25px;
  top: 70%;
  left: 50%;
  font-size: 30px;
  color: #000;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .top-contact {
  padding: 30px;
  width: 250px;
  height: 75px;
  margin: auto;
  padding: auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}

.contents .top-contact-text {
  position: absolute;
  top: 12%;
  left: 12%;
  margin: 25px;
  font-size: 30px;
  color: #000;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .top-bottom {
  width: 100%;
  height: 100px;
  background-color: #aaa;
}




.contents .org {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: #fff;
}

.contents .org-text {
  position: relative;
  margin: 50px 0 80px 5%;
  font-size: 30px;
}

.contents .org-image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: calc(auto - 100px);
}

.contents .org-text2 {
  padding: 20px;
  position: relative;
  font-size: 15px;
  text-align: right;

}




.contents .contact {
  width: 1500px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}


.contents .contact-image {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: fill;
  filter: blur(1px);
}

.contents .contact-image-text {
  position: absolute;
  top: 10%;
  left: 25%;
  font-size: 100px;
  color: #333;
  font-family: "BIZ UD明朝 Medium";
}

.contents .contact-recruit {
  width: 400px;
  height: 100px;
  position: absolute;
  margin: 25px auto;
  left: 5%;
}

.contents .contact-employee {
  width: 400px;
  height: 100px;
  position: absolute;
  margin: 25px auto;
  left: 35%;
}

.contents .contact-others {
  width: 400px;
  height: 100px;
  position: absolute;
  margin: 25px auto;
  left: 65%;
}

.contents .contact-text {
  width: 100%;
  height: 70px;
  padding: auto;
  margin: auto;
  position: relative;
  font-size: 25px;
  color: #000;
  background-color: rgba(130, 150, 200);
  border-radius: 5px;
}

.contents .contact-employee-form {
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 50px;
}

.contents .contact-employee-text {
  width: 100%;
  position: relative;
  margin: auto 100px;
  top: 10%;
  right: 25%;
  font-size: 15px;
}

.contents .contact-employee-textbox {
  position: relative;
  margin: auto 30px;
  top: 10%;
  width: 200px;
  height: auto;
}

.contents .contact-employee-button {
  position: relative;
  margin: auto 30px;
  top: 10%;
}



.contents .graduate {
  background-color: #aaa;
}

.contents .graduate-top {
  width: 100vw;
  height: 800px;
}

.contents .graduate-top-image {
  width: 100%;
  height: 100%;
  top: -80px;
  object-fit: cover;
  position: relative;
  filter: blur(8px);
}

.contents .graduate-top-text {
  position: absolute;
  top: 30%;
  left: 5%;
  font-size: 100px;
  color: #000;
  font-family: "BIZ UD明朝 Medium";
}

.contents .graduate-block {
  width: 600px;
  height: auto;
  margin: 50px auto;
  border: 1px solid #aaa;
  background-color: #fff;
  padding: 0 30px 30px 30px;
  border-radius: 5px;
}

.contents .graduate-title {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 30px;
  border-left: 5px solid #cceeff;
}

.contents .graduate-about-text {
  border-left: 4px solid #aaa;
  padding: 10px;
  margin-left: 20px;
}

.contents .graduate-requirements-table,
.contents .graduate-requirements-th,
.contents .graduate-requirements-td {
  border-bottom: 2px solid #88aaff;
  border-collapse: collapse;
  padding: 15px;
}

.contents .graduate-requirements-th {
  font-size: 25px;
}

.contents .graduate-requirements-td {
  font-size: 18px;
}

.contents .graduate-requirements-table:first-child {
  border: none;
}

.contents .graduate-training-subtitle {
  width: 100%;
  height: auto;
  padding: 10px 0 10px 10px;
  font-size: 30px;
  border-bottom: 2px solid #000;
}

.contents .graduate-training-text {
  border-left: 4px solid #aaa;
  padding: 10px;
  margin-left: 20px;
}

.contents .graduate-entry {
  width: 600px;
  height: auto;
  margin: 50px auto;
  background-color: #aaa;
  padding: 0 30px 30px 30px;
  border-radius: 5px;
}

.contents .graduate-entry-button {
  width: 100%;
  height: 80px;
  margin: 30px auto 0 auto;
  background-color: #cceeff;
  border: 3px solid #88aaff;
  font-size: 30px;
}

.contents .graduate-entry-button:hover {
  background-color: #ccc;
}





.contents .iot {
  background-color: #aaa;
}

.contents .iot-top {
  width: 800px;
  height: auto;
  margin: 100px auto;
  padding: 30px;
  position: relative;
  background-color: #fff;

}

.contents .iot-top-text1 {
  width: 100%;
  height: auto;
  margin: 50px auto;
  border-left: 3px solid #88aaff;
  background-color: #cceeff;
  position: relative;
  font-size: 40px;
}

.contents .iot-top-text2 {
  border-left: 4px solid #aaa;
  margin-left: 20px;
  padding-right: 80px;
  font-size: 20px;
}

.contents .iot-block {
  width: 600px;
  height: auto;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  background-color: #fff;
}

.contents .iot-title {
  width: 100%;
  height: auto;
  border-left: 3px solid #88aaff;
  position: relative;
  font-size: 35px;
}

.contents .iot-list {
  list-style: none;
}

.contents .iot-list li {
  border-top: 2px solid #333;
  padding: 10px 0;
  font-size: 20px;
}

.contents .iot-list .product-title {
  display: block;
  width: 90%;
  height: auto;
  background-color: #cceeff;
  border: 2px solid #aaa;
}

.contents .iot-list .detail {
  display: block;
  width: 30%;
  padding: auto;
}

.contents .iot-list .detail:hover {
  background-color: #ddd;
  cursor: pointer;
}

.contents .iot-tech-list {
  list-style: decimal;
}

.contents .iot-tech-list li {
  font-size: 18px;
  border-bottom: 2px solid #333;
  margin-right: 150px;
}

.contents .iot-contact {
  width: 100%;
  height: 50px;
  margin: 30px auto 0 auto;
  background-color: #cceeff;
  border: 3px solid #88aaff;
  font-size: 30px;
}

.contents .iot-contact:hover {
  background-color: #ccc;
}






.footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #aaa;
}

.footer-text {
  position: relative;
  top: 25%;
  left: 5%;
  font-size: 15px;
  margin: auto;
}