@charset "utf-8";

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.header {
  box-sizing: border-box;
  align-items: center;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  padding: 0 47px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  position: relative;
}

.header-nav {
  display: flex;
  align-items: center;
  width: auto;
  flex-grow: 1;
  justify-content: space-between;
}

.header-nav .logo {
  display: block;
  width: 400px;
  height: auto;
}

.header-nav .logo img {
  width: 80px;
  height: auto;
}

.header-nav .logo p {
  width: 320px;
  height: auto;
  font-size: 25px;

}

.header-nav .logo a {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #f66;
  cursor: pointer;
}

.header-nav ul.main-menu {
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav ul.main-menu>li {
  list-style: none;
  padding: 10px 18px;
  position: relative;
}

.header-nav ul.main-menu>li .menu-link {
  color: #bbb;
  cursor: default;
  font-size: 14px;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.header-nav ul.main-menu>li:hover::after {
  background-color: #f66;
  border-radius: 30px;
  bottom: -9px;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  overflow: hidden;
  width: auto;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #faa;
  padding: 8px 0;
  min-width: 160px;
}

.sub-menu:before {
  filter: blur(6px);
}

.sub-menu>li {
  list-style: none;
}

.main-menu>li:hover .sub-menu {
  display: block;
  width: 200%;
}

.main-menu>li:hover .sub-menu a {
  cursor: pointer;
}

.main-menu>li:hover .sub-menu p {
  color: #646464;
}

.main-menu>li:hover .sub-menu li:hover {
  opacity: 0.5;
}





.contents {
  background-color: #000;
}

.contents .title-text,
.contents .spEmbedded-top-text2,
.contents .spEmbedded-top-text3,
.contents .spEmbedded-officer-th,
.contents .spEmbedded-officer-td,
.contents .spEmbedded-contact-text2,
.contents .checkSpHumanResources-top-text {
  color: #ddd;
}


.contents .spEmbedded-top {
  width: 600px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.contents .title-text {
  font-size: 20px;
  border-left: 5px solid #f66;
}

.contents .spEmbedded-top-text2 {
  position: absolute;
  top: 0;
  right: 0;
  color: #f66;
}

.contents .spEmbedded-officer {
  width: 600px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.contents .spEmbedded-officer-table,
.contents .spEmbedded-officer-th,
.contents .spEmbedded-officer-td {
  border: 1px solid #aaa;
  border-collapse: collapse;
}

.contents .spEmbedded-contact {
  width: 600px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.contents .spEmbedded-contact-text2 {}

.contents .spEmbedded-contact-text3 {
  background-color: #aaa;
  padding: 5px 10px;
  border-radius: 5px;
}






.contents .checkSpHumanResources-top {
  width: 600px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

.contents .checkSpHumanResources-top-text {
  color: #f66;
  font-size: 10px;
  right: 0;
}

.contents .checkSpHumanResources-form {
  width: 400px;
  height: auto;
  margin: 50px auto;
  padding: 50px;
  position: relative;
  outline: 1px solid #f66;
}

.contents .checkSpHumanResources-form p {
  color: #aaa;
  margin: 15px 0 0 0;
}

.contents .checkSpHumanResources-form input {
  margin: 15px auto;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: #000;
  outline: 1px solid #666;
  color: #aaa;
}

.contents .checkSpHumanResources-form button {
  margin: 15px auto;
  padding: 10px 0;
  width: 100%;
  height: auto;
  background-color: #000;
  color: #f66;
  outline: 1px solid #f66;
}






.footer {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #aaa;
}

.footer-text {
  position: relative;
  top: 25%;
  left: 5%;
  font-size: 15px;
  margin: auto;
}